.create{
    background: rgba(195, 194, 194, 0.4) url(../images/background.png);
    padding: 4px 8px;
}
.logo{
    margin-top : 1.1%;
    font-family:"system-ui","-apple-system","Segoe UI","Roboto","Helvetica Neue","Arial","Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration: overline red ;
}